body {
	font-family: 'Average', serif;
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	margin: 0;
	font-size: 80px;
}

h2 {
	font-size: 35px;
	color: #ad9365;
	letter-spacing: 0.30em;
}

.city-image {
	background-image: url(../img/city.png);
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	filter: brightness(50%);
}

.city-image.overlay {
    opacity: .9;
    background-color: black;
    left: 0; top: 0; height: 550px; width: 100%;
}

.title {
	margin: 0 auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#websiteName {
  font-weight: 500;
  letter-spacing: 0.7em;
  margin-bottom: 50px;
}

#websiteDescrption {
	margin-top: 50px;
  font-weight: 300;
  color: #ad9365;
}