body {
	font-family: 'Average', serif;
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	margin: 0;
	font-size: 80px;
}

h2 {
	font-size: 35px;
	color: #ad9365;
	letter-spacing: 0.30em;
}

.city-image {
	background-image: url(../img/city.png);
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	filter: brightness(50%);
}

.city-image.overlay {
    opacity: .9;
    background-color: black;
    left: 0; top: 0; height: 550px; width: 100%;
}

.title {
	margin: 0 auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#websiteName {
  font-weight: 500;
  letter-spacing: 0.7em;
  margin-bottom: 50px;
}

#websiteDescrption {
	margin-top: 50px;
  font-weight: 300;
}

#websiteDescription h2 {
	color: white;
}

.description {
	padding-bottom: 10px
}

.services {
	padding-top: 5px;
	background: #f9f6f6;
}

#skillsDescription {
	width: 100%;
}

#languages, #frameworks, #databases, #others {
	width: 24%;
	display: inline-block;
	margin: 0;
}

.services img {
	display: block;
	margin: 0 auto;
	width: 50%;  
	z-index:-3; 
	color: #ad9365;
}

.services section {
	width: 32%;
	display: inline-block;
	margin: 15px auto;
}

.services section p {
	width: 75%;
	margin: 0 auto;
	color: darkgrey;
}

.services h3 {
	font-size: 25px;
	color: #c4a958;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 50px;
}

.services h4 {
	font-size: 20px;
	color: #ad9365;
	margin-bottom: 15px;
	margin-top: 0;
}

span {
	color: #ad9365;
}

.button {
    position: relative;
    display: table;
    margin: 0 auto 50px auto;
    border: 1px solid #c5b395;
    padding: 10px 15px 10px 20px;
    background: white;
    background: transparent;
    font-size: 0.95em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    color: #a4906e;
    overflow: hidden;
    text-decoration: none;
}

.links {
	background: #f9f6f6; 
}