body {
	font-family: 'Average', serif;
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	margin: 0;
	font-size: 80px;
}

h2 {
	font-size: 35px;
	color: #ad9365;
	letter-spacing: 0.30em;
}

.city-image {
	background-image: url(../img/city.png);
	height: 500px;
	width: 100%;
	top: 0;
	left: 0;
	filter: brightness(50%);
}

.city-image.overlay {
    opacity: .9;
    background-color: black;
    left: 0; top: 0; height: 550px; width: 100%;
}

.title {
	margin: 0 auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#websiteName {
  font-weight: 500;
  letter-spacing: 0.7em;
  margin-bottom: 50px;
}

#websiteDescription {
	margin-top: 50px;
  font-weight: 300;
}

#websiteDescription h2{
	color: #ad9365;
}

.description {
	padding-bottom: 10px
}

.services {
	padding-top: 5px;
	background: #f9f6f6;
}

#skillsDescription {
	width: 100%;
}

.languages, .frameworks, .databases, .others {
	width: 24%;
	display: inline-block;
	margin: 0;
}

.services section img {
	display: block;
	margin: 0 auto;
	width: 50%;  
	z-index:-3; 
	color: #ad9365;
}

.services section {
	width: 32%;
	display: inline-block;
	margin: 15px auto;
}

.descriptionImg {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


.descriptionImg:hover {
	-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.services section p {
	width: 75%;
	margin: 0 auto;
	color: darkgrey;
}

.services h3 {
	font-size: 25px;
	color: #c4a958;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: 50px;
	display: inline-block;
}

.services h4 {
	font-size: 20px;
	color: #ad9365;
	margin-bottom: 15px;
	margin-top: 0;
}

.services > div > div {
	display: inline-block; 
}

span {
	color: #ad9365;
}

.services span {
	color: grey;
}

.spin {
	-webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button {
  position: relative;
  display: table;
  margin: 0 auto 50px auto;
  border: 1px solid #c5b395;
  padding: 10px 15px 10px 20px;
  background: white;
  background: transparent;
  font-size: 0.95em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.23em;
  color: #a4906e;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button:hover{
	border: 1px solid #a4906e;
	color: #807056;
	box-shadow: 0px 0px 5px rgba(183,161,123,0.4);
}

.links {
	background: #f9f6f6; 
}

.linkedin {
 	margin-top: 15px;
 	margin-bottom: 15px;
 	margin-right: 60px;
 	width: 30px;
 	height:30px;
 	opacity: 0.4;
 	display:inline-block;
 	background: url('../img/linkedin.png') center top no-repeat;
}

.linkedin:hover{
	opacity: 1;
	background-image: url('../img/linkedin-black.png') ;
}

.github {
	margin-top: 15px;
 	margin-bottom: 15px;
 	width: 30px;
 	height:30px;
 	display:inline-block;
 	opacity: 0.4;
 	background: url('../img/github.png') center top no-repeat;
}

.github:hover{
	opacity: 1;
	background-image: url('../img/github_black.png') ;
}

ul {
	margin: 0 auto 40px auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

ul li { 
	display: inline;
	color: #a4906e;
}

.rotated { 
	-webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.portfolio {
	background-color: #E8E1E4;
}

.portfolio h2 {
	margin-top: 0;
	padding-top: 25px;
}
