body {
	font-family: 'Average', serif;
	margin: 0;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}

.city-image {
	background-image: url(../img/city.jpg);
	height: 550px;
	width: 100%;
	top: 0;
	left: 0;
}

.navbar {
	background-color: grey;
	opacity: 0.7;
	float: center;
	/*width: 67%;*/
	text-align: center;
	margin: 0 auto;
	z-index: 0;
}

.navbar div {
	display: inline-block;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 16.66%;
}

.navbar div a {
	text-decoration: none;
	color: white;
}